label {
    font-weight: bolder;
}

.container {
    background-color: aliceblue;
    border: solid 1px black;
}

.form-check-label {
    font-weight: lighter;
}

.gradient-casero {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #bdc3c7,#6e94ba);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #bdc3c7,#6e94ba); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}